.element__like {
    margin: 0;
    height: 19px;
    width: 22px;
    background-color: transparent;
    background-size: 10px;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    opacity: 1;
    background-image: url(../../../images/like-active.svg);
}