.profile {
    margin: 0;
    display: grid;
}

@media screen and (min-width: 320px) {
    .profile {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 127px 112px 50px;
    }
}

@media screen and (min-width: 768px) {
    .profile {
        max-width: 550px;
        width: 100%;
        justify-content: center;
        margin: 36px auto 0 auto;
        grid-template-rows: repeat(1, 100px);
        grid-template-columns: 90px 1fr auto;
    }
}


@media screen and (min-width: 1024px) {
    .profile {
        max-width: 880px;
        grid-template-rows: repeat(1, 127px);
        grid-template-columns: 127px 1fr auto;
        justify-content: left;

    }
}