.profile__image {
    border-radius: 50%;
    width: 127px;
    height: 127px;
    background-image: url(../../../images/image.jpg);
}
.profile__image:hover .profile__image_overlay{
    opacity: 1;
}

@media screen and (min-width: 320px) {
    .profile__image {
        width: 127px;
        height: 127px;
        align-self: center;
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    .profile__image {
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__image {
        width: 127px;
        height: 127px;
    }
}